html
{
	background-color: white;
}
 
body
{
	margin: 0px;
	background-color: black;
}

.nav1
{
	width: 20%;
	background-color: #F22B29;
	top: 0px;
    z-index:1;
   	top: 55px;
    position: absolute;
}
.nav2
{
	object-fit: cover;
	height: 100%;
	width: 80%;
	top: 0px;
    z-index: 0;
    float: right;
    margin-left: 20%;
} 

/*  Page d'inscription  */

.blocInscription
{
	padding-top: 1%;
	padding-left: 30px;
	padding-right	: 30px;
	position: absolute;
	top: 10%;
	right: 5%;
	width: 20%;
	height: auto;
	background-color: #343A40;
	border-radius: 10px;
	color: white;
	font-size: 1vw;
} 

.containerInscription{
	display:none;
}


/* Bloc maps - Audrey */
.maps {
	height: 100%;
	width:100%;
}

#map_canvas {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
    height: 88%;
    width: 100%;
}

#map_indic {
    height: 300px;
    width: 100%;
}
/* Alert Bootstrap */
.alert{
	position : fixed !important;
	top:10px;
	left:10px;
	z-index: 1200;
}

/* Calendrier */
#ui-datepicker-div {
	z-index: 100!important;
}

.ico-profile{
	display:flex;
	align-items: center;
}

.navbar a{
	color:white;
}
.navbar a:hover{
	text-decoration:none;
	color:#F22B29;
}
.ico-profile i:hover{
	color:#F22B29;
}

.ico-profile i {
    color: white;
    margin: 5px;
    align-self: center;
    font-size: 25pt;
    margin-right: 15px;
}

/* logo ipi covoit audrey */
#img_logo_ipi_covoit {
	text-align: center; 
	z-index: 100;	
}
.logo_img {
	width: 75%; 
	margin-top: 3em;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: black!important;
}