html
{
	background-color: white;
}

body
{
	margin: 0px;
	background-color: black;
}

.nav1
{
	position: absolute;
	height: 100%;
	width: 20%;
	background-color: #F22B29;
	top: 0px;
    z-index: 0;
}
.nav2
{
	height: 100%;
	width: 80%;
	top: 0px;
    z-index: 0;
    float: right;
} 

/*  Page d'inscription  */

.blocInscription
{
	padding-top: 1%;
	padding-left: 30px;
	padding-right	: 30px;
	position: absolute;
	top: 10%;
	right: 5%;
	width: 20%;
	height: auto;
	background-color: #343A40;
	border-radius: 10px;
	color: white;
	font-size: 1vw;
} 

.containerInscription{
	display:none;
}


/* Bloc maps - Audrey */

#map_canvas {
    height: 750px;
    width: 100%;
}

#map_indic {
    height: 300px;
    width: 100%;
}
/* Alert Bootstrap */
.alert{
	position : fixed !important;
	top:10px;
	left:10px;
	z-index: 1200;
<<<<<<< HEAD
}
=======
}

/* Calendrier */
#ui-datepicker-div {
	z-index: 100!important;
}
>>>>>>> branch 'master' of https://github.com/thomas-ipi/IPICovoit.git
