html
{
	background-color: #FFFFFF;
}

body
{
	margin: 0px;
	background-color: black;
}

.header
{
	background-color: #2F4F4F;
	width: 100%;
	top: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: white;
	position: absolute;
	z-index: 2;
}

.connectForm
{
	margin-bottom: 0px;
	max-width: 100%;
}


.connectForm h1
{
	font-size: 1.3vw;
}

.connectForm input
{
	font-size: 1vw;
	margin-left: 1%;
	border-radius: 6px;
}

.nav
{
	position: absolute;
	height: 100%;
	width: 20%;
	background-color: #F22B29;
	top: 0px;
    z-index: 0;
}

.logoBg
{
	position: absolute;
	top: 20%;
	left: 50%;
  	transform: translate(-50%, -50%);
	height: auto;
	width: auto;
	padding: 3%;
	background-color: white;
	border-radius: 5px;
}

.logoIpi
{
	width: 100%;
	height: auto;
}

.searchTrajet
{
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	background-color: white;
}

.maps
{
	position: absolute;
	width: 80%;
	left: 20%;
	top: 6%;
	border: 1px dashed black;
}

/* Page d'inscription */

.blocInscription
{
	padding-top: 1%;
	padding-left: 30px;
	padding-right	: 30px;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
  	transform: translate(-50%, -50%);
	width: 20%;
	height: 60%;
	background-color: #343A40;
	border-radius: 10px;
	color: white;
}

